// Font families
$font-family-base: 'Blibli', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
$font-family-heading: 'Blibli', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

// You can add more custom variables here